@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to School Intranet</h1>
    <p>Consult the list of professors and students. You can consult our various sorted tables as well as add, edit or delete a student or a professor.</p>
</div>

<div class="text-center">
    <div class="border border-primary rounded text-dark" style="margin:5px;">
        <a class="nav-link" asp-area="" asp-page="/Students/Index">Students</a>
    </div> 

    <div class="border border-primary rounded text-dark" style="margin:5px;">
        <a class="nav-link" asp-area="" asp-page="/Teachers/Index">Teachers</a>
    </div>
</div>

